.react-autosuggest__suggestions-list {
  list-style: none;
  border-radius: 8px;
  background-color: #372d27;
  display: flex;
  flex-wrap: wrap;
  z-index: 999;
}

.react-autosuggest__container {
  width: 100%;
}
